:root {
  --purple: #4d5b9e;
  --lgt-white: #f5f7fb;
  --drk-purple: #293264;
  --lgt-purple: #d6dbf5;
  --green: #94d7a2;
  --lgt-pink: #f8bcbc;
  --black: #32383c;

  --font-stack: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
